* {
	box-sizing: border-box;
}

li,
ul {
	padding: 0;
	margin: 0;
}

input {
	margin: 4px 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	padding: 50px 0;
	height: 100px;
	width: 100%;
	border: none;
	font-size: 37px;
	text-align: center;
	color: #333;
}

#slot li {
	margin: 4px 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	padding: 50px 0;
	height: 100px;
	width: 100%;
	border: none;
	font-size: 37px;
	line-height: normal;
	text-align: center;
	overflow: hidden;
}

#slot_wrapper {
	position: relative;
}

.jSlots-wrapper {
	margin: 4px 0;
	overflow: hidden;
	/*oculta la lista */
	height: 50px;
	/*altura de caca slot */
	width: 100%;
	position: absolute;
	top: 0px;
	display: none;
}

#slot {
	display: none;
}

.app {
	height: 100vh;
	display: flex;
	flex-flow: column wrap;
	width: 100%;
}

.form {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.form-group {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
	width: 100%;
}

.form-label {
	font-weight: 600;
	flex: 0 0 120px;
	margin-top: 10px;
	margin-right: 10px;
	text-align: right;
	align-self: flex-start;
}

.form-value {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
}

.form-control {
	border-radius: 3px;
	border: solid 1px #c0c0c0;
	padding: 7px 10px;
	width: 100%;
}

.header {
	background: #df75ff;
	display: flex;
	height: 44px;
	width: 100%
}

.header h1 {
	color: white;
	font-size: 1.1em;
	margin: auto;
	text-align: center;
}

.main {
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	/* Then we define the flow direction and if we allow the items to wrap 
* Remember this is the same as:
* flex-direction: row;
* flex-wrap: wrap;
 * flex-flow: row wrap;
*/
	flex-direction: column;
}


.main>.container {
	padding: 15px 15px;
	max-width: 520px;
	width: 100%;
}

.main .winner {
	color: #292929;
	font-size: 2em;
}

.main .counter {
	font-size: 1.6em;
}

.main .winner,
.main .actions,
.main .counter {
	padding: 20px 0;
	text-align: center;
}

.main .actions {
	display: flex;
	align-items: center;
	/* Aling Cross axis */
	justify-content: space-around;
	/* Align Main axis */
	width: 100%;
}

.btn {
	background: #e48cb9;
	border: solid 2px #e48cb9;
	border-radius: 7%;
	color: white;
	cursor: pointer;
	font-size: 1.1em;
	font-weight: 800;
	outline: none;
	text-align: center;
	transition: 300ms all;
}

.btn:active {
	transform: scale(0.9);
}

.btn.small {
	padding: 2px 5px;
}

.btn.big {
	padding: 10px;
}

.btn.btn-start {
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

.btn.selected {
	border-color: green;
}

.btn:hover {
	cursor: pointer;
	opacity: 0.9;
}

.btn.disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

div#slot_wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	width: 100%;
}

li {
	color: #333;
	margin: 4px 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	padding: 50px 0;
	height: 30px;
	width: 100%;
	border: none;
	font-size: 37px;
	text-align: center;
}

input#limpiar {
	background: none;
	border: none;
	font-size: 37px;
	width: 100%;
	box-shadow: none;
}
h1{
	color:#092455 !important;
}
.btn {
    background: #092455 !important;
	  border: solid 2px #092455 !important;
}
input#limpiar, input::placeholder{
  font-size: 40px;
	font-family: Cronos Pro !important;
}
#top .main_color input[type='text']{
	font-size: 40px;
	font-family: Cronos Pro !important;
}
li {
	font-size: 40px;
    font-family: Cronos Pro !important;
	color: #092455;
}

div .main_color .button{
	background-color: #ffffff !important;
}
.entry-content-wrapper div li {
    text-indent: 0;
    list-style: none;
    padding: 0;
    margin: 0; 
		margin-bottom:15px;
}